body {
  font-family: 'Times New Roman', Times, serif;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product-card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.wishlist-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  color: gray;
  cursor: pointer;
  transition: fill 0.2s ease, stroke 0.2s ease;
}

.wishlist-icon:hover {
  color: #ff4d4d;
}

.product-image {
  width: 250px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
  text-align: center;
}

.cart-button {
  background: #01579b;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s;
  width: 50%;
  margin-left: 65px;
}

.cart-button:hover {
  background: #01579b;
}

@media (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
  }

  .product-image {
    width: 200px;
    height: 180px;
  }

  .cart-button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns for mobile */
    gap: 10px;
    padding: 10px;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-price {
    font-size: 18px;
  }

  .cart-button {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 12px;
    font-size: 13px;
  }
}