
.slider-container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}


.slider-title {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 50px;
}

.slider-title h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-title p {
  color: gray;
  text-transform: uppercase;
}

.carousel-wrapper {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
  display: flex;
  transition: transform 0.7s ease-in-out;
  width: 100%;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  text-align: center;
}

.carousel-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-item h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.carousel-item p {
  color: gray;
  text-transform: uppercase;
}
